.form {
    background-color: rgb(190, 190, 174);
    padding: 1.5rem;
    width: 25rem;
}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}   

.form textarea {
    width: 100%;
    height: 8rem;
    border-radius: 6px;
}

.form input {
    height: 2rem;
    border-radius: 6px;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: 242424;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: beige;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(51, 51, 51);
} 