.header {
    margin: 2rem 10%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid beige;
}

.logo {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: beige;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: beige;
    transition: background-color 0.5s ease, transform 0.3s ease;
    color: #242424;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(230, 230, 206);
    transform: scale(1.05);
} 
